.add__container{
    margin-top:10px;
}
#carousel__container{
    position: 0 auto;
	left: 0;
	right: 0;
    margin: 0 0 40px 0;

    clear: both;
	overflow: hidden;
	padding: 40px 0 0 0;
	font-size: 14px;
	color: #fff;
	line-height: 20px;
    
}

