<carousel class="slider">
  <slide>
    <img src="\assets\images\Marathon.JPG" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="\assets\images\badminton.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="\assets\images\pingpong.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="\assets\images\swimming.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="\assets\images\9517490818_fa14e42b53_o.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>

