.add__container{
	margin-top:10px;
	width: 1200px;
}

.imagine{
	display: flex;
	justify-content: center;
	width:1200px;
	margin:auto;
	height: 400px;
}

#carousel__container{
    position: center;
    margin: 0 0 40px 0;
    clear: both;
	overflow: hidden;
	font-size: 14px;
	color: #fff;
	line-height: 20px;
	width: 100%;
	display: flex;
	justify-content: center;

}
.carousel-inner{
	height: 400px;
	width: 1500px;
	justify-content: center;
	background-color: lightblue;
}

