<app-header></app-header>

<app-slider></app-slider>
<div class="content">
	<div class="container">

		<div class="main-content">
			<h1>Upcoming events</h1>
			<section class="posts-con">
				<article *ngFor="let events of eventsList">
					<div class="current-date">
						<p class="month">{{events.month}}</p>
						<p class="day">{{events.day}}</p>
					</div>
					<div class="info">
						<h3 class="name">{{events.name}}</h3>
						<p class="info-line">
							<span class="place">{{events.location}}</span>
							<span class="place">{{events.id}}</span>
						</p>
						<p>{{events.description}}</p>
					</div>
					<button type="submit" class="button" (click)="openRegisterModal(events.id, events.name)">Register now!</button>
					
				</article>

			</section>
		</div>
	</div>
</div>
<app-footer></app-footer>
