.content {
	overflow: hidden;
	padding-bottom: 10px;
}

.main-content {
	margin: 0 auto;
	width: 80%;
	padding: 0 15px;
}





.posts-con article {
	border-bottom: 1px solid #d8dbe1;
	padding-bottom: 40px;
	margin-bottom: 41px;
}
.posts-con article.last {
	border-bottom: none;
}

.posts-con .current-date {
	margin-top: 9px;
}

.posts-con h3 {
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	padding-top: 4px;
	padding-bottom: 22px;
}

.posts-con .info {
	overflow: hidden;
}

.posts-con .info-line {
	font-size: 16px;
	line-height: 20px;
	padding-bottom: 20px;
}

.posts-con .info-line .time {
	padding: 0 20px 0 25px;
	background: url() no-repeat 0 3px;
	display: inline-block;
}

.posts-con .info-line .place {
	padding: 0 20px 0 25px;
	background: url() no-repeat 0 3px;
	display: inline-block;
}

.events {
	padding: 57px 0 100px 0;
}

.events article {
	width: 25%;
	float: left;
	padding: 0 15px;
	font-size: 14px;
	line-height: 20px;
}

.current-date {
	width: 70px;
	float: left;
	border-radius: 4px;
	background-color:#0000CD;
	margin-right: 30px;
	margin-top: 4px;
	text-align: center;
	font-family: 'BebasNeue';
	color: #fff;
	font-size: 16px;
	padding: 3px;
	line-height: 20px;
}

.current-date .day {
	background-color: #fff;
	color: #0000CD;
	font-size: 40px;
	border-radius: 4px;
	line-height: 49px;
	margin-top: 3px;
	font-weight: bold;
}

.events .info {
	overflow: hidden;
}

.events .info p {
	padding-bottom: 13px;
	min-height: 153px;
}