
<div>{{eventId}}{{eventName}}</div>
  <div class="modal__box">
  <form class="modal__content" (ngSubmit)="onSave(modalForm)" #modalForm="ngForm" novalidate >
   
    
    <h2 class="title">Register</h2>
    <div  class="inputs__container">
      <input type="text" class="input"  placeholder="First name" [(ngModel)]="participants.firstname" required minlength="5" name="firstname" >
      <input type="text" class="input" name="lastname" placeholder="Last name" [(ngModel)]="participants.lastname"  required minlength="5">
      <input type="email" class="input" name="email" placeholder="firstname.lastname@gmail.com" [(ngModel)]="participants.email" required minlength="5" >
      <label>Gender: 
      <div class="btn-group" btnRadioGroup name="gender" [(ngModel)]="participants.gender" required>
          <label class="btn btn-success" btnRadio="Male" 
                 tabindex="0" role="button">Male</label>
          <label class="btn btn-success" btnRadio="Female"
                 tabindex="0" role="button">Female</label>
        </div>
      </label>
      <div class="shirts__div">
      <label>T-shirt size:
          <div class="btn-group" btnRadioGroup name="shirt"  [(ngModel)]="participants.shirt" required>
              <label class="btn btn-success" btnRadio="S" 
                     tabindex="0" role="button">S</label>
              <label class="btn btn-success" btnRadio="M"
                     tabindex="0" role="button">M</label>
                     <label class="btn btn-success" btnRadio="L"
                     tabindex="0" role="button">L</label>
                     <label class="btn btn-success" btnRadio="XL"
                     tabindex="0" role="button">XL</label>
            </div>
          </label>
        </div>
          
        
  
    </div>
   
    <div class="modal__buttons">
        <button type="button" (click)="bsModalRef.hide()" class="grayBtn">Cancel</button>
        <button type="submit" class="button">Register</button>
    
    </div>
  </form>
</div>

        
        

