

  <div class="modal__box">
  <form class="modal__content" ng-submit="onRegister()" #modalForm="ngForm" >
    <h2 class="title">Register</h2>
    <div class="inputs__container">
      <input type="text" class="input" name="firstname" placeholder="First name">
      <input type="text" class="input" name="lastname" placeholder="Last name">
      <input type="email" class="input" name="email" placeholder="Email" >
      <div class="gender">
      <span>Male</span><input type="radio" class="genderBtn"  name="gender" checked value="male">
      <span>Female</span><input type="radio" class="genderBtn"  name="gender" value="female">
      </div>
      <select>
        <option> blabla</option>
        <option> dsgfdf</option>
        <option> dergredgbdgv</option>
        </select>
      
      
    </div>
    
    <div class="modal__buttons">
      <button type="button" class="button" (click)="bsModalRef.hide()">Cancel</button>
      <button type="submit" class="button button--pink" >Register</button>
    </div>
  </form>
</div>

