<footer id="footer">
    <div class="container">
        <section class="section">
            <article class="col-1">
                <h3>Contact</h3>
                <ul>
                   <li class="address">
                       <a href="#">6A Dimitrie Pompeiu Bd.
                       Bucharest</a>
                    </li>
                    <li class="mail">
                        <a href="#">ana-maria.lepar@db.com</a>
                    </li>
                    <li class="phone last">
                        <a href="#">031 222 4000</a>
                    </li>
                </ul>
            </article>

            <article class="col-2">
                <h3>Social media</h3>
                <p>Follow us on social media!</p>
                <ul>
                    <form class="fb">
                        <input type="button" value="Facebook" onclick="window.location.href='https://www.facebook.com/pages/Deutsche-Bank-Romania/1385739945039335'"
                        />
                    </form>

                </ul>
            </article>
            <article class="col-3">
                <h3>Newsletter</h3>
                <p>Assumenda est omnis dolor repellendus temporibus autem quibusdam.</p>
                <form action="#">
                    <input placeholder="Email address..." type="text">
                    <button type="submit">Subscribe</button>
                </form>
             
            </article>
        </section>

    </div>
    <!-- / container -->
</footer>
<!-- / footer -->